# Word temp files
~$*.docx

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# OS junk
Thumbs.db
.DS_Store

# Obsidian (если будешь добавлять заметки)
.obsidian/workspace*
.obsidian/cache/
.trash/
